/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Main Content Container */
.content-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Page Title */
.page-title {
    text-align: center;
    margin-bottom: 20px;
}

/* Section Title */
.section-title {
    font-size: 24px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 15px;
    color: #555;
}

/* Parameter Section */
.parameter-section {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 10px;
    text-align: center;
}

/* Slider Input */
.slider-input {
    width: 100%;
}

/* Button Container */
.button-container {
    text-align: center;
    width: 100%;
    margin-top: 30px;
}

/* General Button */
.button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

/* Disabled Button */
.button-disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.button-disabled:hover {
    background-color: #ceb2b2;
}

/* Video Feed Container */
.video-feed-container {
    text-align: center;
    max-width: 2000px;
    margin: 0 auto;
    padding: 20px;
}

/* Back Link */

.back-link-container {
    position: fixed;
    top: 0;
    right: 0;
    margin: 10px;
    /* Add some margin for spacing from the edge */
}

.back-link {

    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
    /* Add margin for spacing between buttons */


}

.back-link:hover {
    background-color: #0056b3;
}

/* Plot Container */
.plot-container {
    text-align: left;
    max-width: 100%;
    padding: 50px;
}

.plot {
    width: 100%;
    max-width: 100%;
}

.plot-description {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #bfe0ff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #333;
    font-size: 16px;
    line-height: 1.5;
}