<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Processing Options</title>
</head>

<body>
    <h1>Data Processing Options</h1>

    <h2>Joint Series Visualization</h2>
    <div>
        <a href="{{ url_for('joint_visualization') }}">View Joint Series Visualization</a>
    </div>

    <h2>Angle Visualizations</h2>
    <div>
        <a href="{{ url_for('show_angle_visualization') }}">View Angle Visualizations</a>
    </div>

    <h2>Fourier Visualizations</h2>
    <div>
        <a href="{{ url_for('show_fourier_visualization') }}">View Fourier Visualizations</a>
    </div>
</body>

</html>