<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joint Series Visualization</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <div id="joint-visualization"></div>
    <a href="{{ url_for('explore_processed_data') }}">Back to Explore Processed Data</a>
    <a href="{{ url_for('index') }}">Back to Index</a>
    <script>
        const jointData = {{ joint_series_plot| safe }};
        Plotly.newPlot('joint-visualization', jointData);
    </script>
</body>

</html>