<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Body Pose Estimation</title>
    <!-- Link to the external CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <h1 class="page-title">CaliVision: Body Pose Estimation</h1>

    <div class="content-container">

        <!-- Form for starting and terminating pose estimation -->
        <form method="POST" onsubmit="resetActionButton()">
            <div class="parameter-section">
                <label for="min_detection_confidence"><code>min_detection_confidence:</code></label>
                <input class="slider" type="range" id="min_detection_confidence" name="min_detection_confidence" min="0"
                    max="1" step="0.05" value="0.75" onchange="updateMinDetectionConfidence(this.value)">
                <span id="min_detection_value"><code>0.75</code></span>
            </div>

            <div class="parameter-section">
                <label for="min_tracking_confidence"><code>min_tracking_confidence:</code></label>
                <input class="slider" type="range" id="min_tracking_confidence" name="min_tracking_confidence" min="0"
                    max="1" step="0.05" value="0.75" onchange="updateMinTrackingConfidence(this.value)">
                <span id="min_tracking_value"><code>0.75</code></span>
            </div>

            <div class="parameter-section">
                <label for="model_complexity"><code>model_complexity:</code></label>
                <select id="model_complexity" name="model_complexity">
                    <option value="0"><code>0</code></option>
                    <option value="1" selected><code>1</code></option>
                    <option value="2"><code>2</code></option>
                </select>
            </div>
    </div>

    <div class="content-container">
        <div class="parameter-section">
            <label for="source_type">Choose your video source:</label>
            <input type="radio" id="source-webcam" name="source_type" value="webcam" onchange="handleSourceChange()">
            <label for="source-webcam">Webcam</label>
            <input type="radio" id="source-path" name="source_type" value="path" onchange="handleSourceChange()">
            <label for="source-path">Path</label>
        </div>

        <div class="parameter-section" id="webcam-container" class="clickable-section">
            <label for="webcam"><code>webcam_input:</code></label>
            <input type="radio" id="webcam-0" name="webcam" value="0">
            <label for="webcam-0">0</label>
            <input type="radio" id="webcam-1" name="webcam" value="1">
            <label for="webcam-1">1</label>
        </div>

        <div class="parameter-section" id="path-container" class="clickable-section">
            <label for="path"><code>path_input:</code></label>
            <input type="text" id="path" name="path">
        </div>
    </div>

    <div class="content-container">
        <div class="vertical-button-group">
            <input class="button" type="submit" value="{{ action_button_text }}" id="actionButton">
            </form>

            <!-- Form for processing data -->
            <form method="GET" action="/process_data">
                <input class="button{{ ' button-disabled' if process_button_disabled else '' }}" type="submit"
                    value="PROCESS DATA" {{ process_button_disabled }}
                    onclick="return enableProcessData('{{ process_button_disabled }}');">
        </div>
        </form>

    </div>

    <!-- Display Video Feed -->
    <div class="video-feed-container">
        <img src="{{ url_for('index_routes.video_feed') }}" alt="Video Feed" style="max-width: 100%;">
    </div>

    <!-- JavaScript for updating displayed values and button text -->
    <script>
        function updateMinDetectionConfidence(value) {
            document.getElementById("min_detection_value").innerHTML = "<code>" + value + "</code>";
        }

        function updateMinTrackingConfidence(value) {
            document.getElementById("min_tracking_value").innerHTML = "<code>" + value + "</code>";
        }

        function handleSourceChange() {
            const sourceType = document.querySelector('input[name="source_type"]:checked').value;
            const webcamContainer = document.getElementById("webcam-container");
            const pathContainer = document.getElementById("path-container");

            
            

            if (sourceType === "webcam") {
                webcamContainer.classList.remove("unclickable");
                webcamContainer.classList.add("selected");
                pathContainer.classList.add("unclickable");
            } else if (sourceType === "path") {
                pathContainer.classList.remove("unclickable");
                pathContainer.classList.add("selected");
                webcamContainer.classList.add("unclickable");
            }
        }

        // Initially, make both containers unclickable
        const webcamContainer = document.getElementById("webcam-container");
        const pathContainer = document.getElementById("path-container");
        webcamContainer.classList.add("unclickable");
        pathContainer.classList.add("unclickable");


    </script>
</body>

</html>