<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta information -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Body Pose Estimation</title>

    <!-- External CSS link -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <!-- Page title -->
    <h1 class="page-title">CaliVision: Body Pose Estimation</h1>

    <div class="content-container">
        <!-- Parameter section for minimum detection confidence -->
        <form method="POST" onsubmit="resetActionButton()">
            <div class="parameter-section">
                <label for="min_detection_confidence"><code>min_detection_confidence:</code></label>
                <input class="slider" type="range" id="min_detection_confidence" name="min_detection_confidence" min="0"
                    max="1" step="0.05" value="0.75" onchange="updateMinDetectionConfidence(this.value)">
                <span id="min_detection_value"><code>0.75</code></span>
            </div>

            <!-- Parameter section for minimum tracking confidence -->
            <div class="parameter-section">
                <label for="min_tracking_confidence"><code>min_tracking_confidence:</code></label>
                <input class="slider" type="range" id="min_tracking_confidence" name="min_tracking_confidence" min="0"
                    max="1" step="0.05" value="0.75" onchange="updateMinTrackingConfidence(this.value)">
                <span id="min_tracking_value"><code>0.75</code></span>
            </div>

            <!-- Parameter section for model complexity -->
            <div class="parameter-section">
                <label for="model_complexity"><code>model_complexity:</code></label>
                <select id="model_complexity" name="model_complexity">
                    <option value="0"><code>0</code></option>
                    <option value="1" selected><code>1</code></option>
                    <option value="2"><code>2</code></option>
                </select>
            </div>
    </div>

    <div class="content-container">
        <!-- Choose video source -->
        <div class="parameter-section">
            <label for="source_type">Choose your video source:</label>
            <input type="radio" id="source-webcam" name="source_type" value="webcam" onchange="handleSourceChange()">
            <label for="source-webcam">Webcam</label>
            <input type="radio" id="source-upload" name="source_type" value="upload" onchange="handleSourceChange()">
            <label for="source-upload">Upload</label>
        </div>

        <!-- Webcam Input -->
        <div class="parameter-section" id="webcam-container" class="clickable-section">
            <label for="webcam"><code>webcam_input:</code></label>
            <input type="radio" id="webcam-0" name="webcam" value="0">
            <label for="webcam-0">0</label>
            <input type="radio" id="webcam-1" name="webcam" value="1">
            <label for="webcam-1">1</label>
        </div>

        <!-- Video Input (currently commented out) -->
        <!-- <form method="POST" enctype="multipart/form-data" action="/upload">
            <div class="parameter-section" id="upload-container" class="clickable-section">
                <label for="video_upload"><code>video_input:</code></label>
                <input type="file" id="video_upload" name="video_upload" accept="video/*">
            </div>
        </form> -->
    </div>

    <div class="content-container">
        <!-- Action buttons -->
        <div class="vertical-button-group">
            <input class="button" type="submit" value="{{ action_button_text }}" id="actionButton">
            </form> <!-- Closing form tag for starting/terminating pose estimation -->

            <!-- Form for processing data -->
            <form method="GET" action="/process_data">
                <input class="button{{ ' button-disabled' if process_button_disabled else '' }}" type="submit"
                    value="PROCESS DATA" {{ process_button_disabled }}>
            </form>
        </div>
        </form>

    </div>

    <!-- Display Video Feed -->
    <div class="video-feed-container">
        <img src="{{ url_for('index_routes.video_feed') }}" alt="Video Feed" style="max-width: 100%;">
    </div>

    <!-- JavaScript for updating displayed values and button text -->
    <script>
        // Update minimum detection confidence value
        function updateMinDetectionConfidence(value) {
            document.getElementById("min_detection_value").innerHTML = "<code>" + value + "</code>";
        }

        // Update minimum tracking confidence value
        function updateMinTrackingConfidence(value) {
            document.getElementById("min_tracking_value").innerHTML = "<code>" + value + "</code>";
        }

        // Handle change in video source
        function handleSourceChange() {
            const sourceType = document.querySelector('input[name="source_type"]:checked').value;
            const webcamContainer = document.getElementById("webcam-container");
            const uploadContainer = document.getElementById("upload-container");

            if (sourceType === "webcam") {
                webcamContainer.classList.remove("unclickable");
                webcamContainer.classList.add("selected");
                uploadContainer.classList.add("unclickable");
                uploadContainer.classList.remove("selected");
            } else if (sourceType === "upload") {
                uploadContainer.classList.remove("unclickable");
                uploadContainer.classList.add("selected");
                webcamContainer.classList.add("unclickable");
                webcamContainer.classList.remove("selected");
            }
        }

        // Initially, make both containers unclickable
        const webcamContainer = document.getElementById("webcam-container");
        const uploadContainer = document.getElementById("upload-container");
        webcamContainer.classList.add("unclickable");
        uploadContainer.classList.add("unclickable");

        // Function to handle video upload button
        function selectVideo() {
            const videoUploadInput = document.getElementById("video_upload");
            videoUploadInput.click();
        }
    </script>
</body>

</html>
