<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Processed Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <h1 class="page-title">Explore Data</h1>
    <div class="content-container">
        <div class="columns-container">
            <div class="column">
                <div class="section">
                    <h2 class="section-title">Extracted joint coordinates</h2>
                    <div class="vertical-button-group">
                        <a href="{{ url_for('data_routes.visualize_joints') }}" class="button">See 1 plot</a>
                        <a href="{{ url_for('data_routes.export_joints') }}" class="button">Export coordinates</a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="section">
                    <h2 class="section-title">Computed body angles</h2>
                    <div class="vertical-button-group">
                        <a href="{{ url_for('data_routes.visualize_angles') }}" class="button">See 2 plots</a>
                        <a href="{{ url_for('data_routes.export_angles') }}" class="button">Export angles</a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="section">
                    <h2 class="section-title">Angles Fourier transform</h2>
                    <div class="vertical-button-group">
                        <a href="{{ url_for('data_routes.visualize_fourier') }}" class="button">See 2 plots</a>
                        <div class="horizontal-button-group">
                            <a href="{{ url_for('data_routes.export_fourier_magnitude') }}" class="button">Export
                                magnitudes</a>
                            <a href="{{ url_for('data_routes.export_fourier_phase') }}" class="button">Export
                                phases</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="back-link-container">
            <a href="{{ url_for('index_routes.index') }}" class="back-link">Back</a>
        </div>
    </div>

    <!-- Predictions -->
    <div class="section">
        <div class="content-container">
            <h1 class="page-title">Action recognition</h2>
                <p>Classifying video among bodyweight exercises</p>
                <form action="{{ url_for('data_routes.action_recognition') }}" method="post">
                    <!-- Parameter section for model type -->
                    <div class="parameter-section">
                        <label for="model_type"><code>model_type:</code></label>
                        <select id="model_type" name="model_type" onchange="updateParameters()">
                            <option value="knn" selected>knn</option>
                            <option value="lstm">lstm</option>
                        </select>
                        <div class="parameter-tooltip">The type of model to use for the classification<br>(either K-nearest
                            neighbors or Long Short Term Memory classifier)</div>
                    </div>

                    <!-- Parameter section for k -->
                    <div class="parameter-section">
                        <label for="k"><code>k:</code></label>
                        <input type="number" id="k" name="k" min=1 step=2 value=5 style="width: 35px;">
                        <div class="parameter-tooltip">The value of k to use for the kNN classifier.</div>
                    </div>

                    <!-- Parameter section for feature type -->
                    <div class="parameter-section">
                        <label for="feature_type"><code>feature_type:</code></label>
                        <select id="feature_type" name="feature_type" onchange="updateMetrics()">
                            <option value="joints">joints</option>
                            <option value="angles">angles</option>
                            <option value="fourier" selected>fourier</option>
                        </select>
                        <div class="parameter-tooltip">The type of features to use for the classification (cf. above
                            section [Explore Data])</div>
                    </div>

                    <!-- Parameter section for metric -->
                    <div class="parameter-section">
                        <label for="metric"><code>metric:</code></label>
                        <select id="metric" name="metric">
                            <option value="l1" disabled>l1</option>
                            <option value="l2" disabled>l2</option>
                            <option value="dtw" disabled>dtw</option>
                            <option value="lcss" disabled>lcss</option>
                            <option value="emd" selected>emd</option>
                        </select>
                        <div class="parameter-tooltip">The distance metric to use for the kNN classifier.</div>
                    </div>

                    <!-- Parameter section for weights -->
                    <div class="parameter-section">
                        <label for="weights"><code>weights:</code></label>
                        <select id="weights" name="weights">
                            <option value="uniform" selected>uniform</option>
                            <option value="distances">distances</option>
                        </select>
                        <div class="parameter-tooltip">Whether to use a uniform weighting, or an inverse-distance
                            weighting.</div>
                    </div>

                    <!-- Predict button -->
                    <div class="vertical-button-group">
                        <button type="submit" class="button">PREDICT</button>
                    </div>
                </form>
        </div>

    </div>
    <!-- Social media -->
    <div class="social-links-container">
        <a class="social-link" href="https://github.com/daltunay/calivision/" target="_blank">
            <img src="{{ url_for('static', filename='img/github_logo.png') }}" alt="GitHub">
        </a>
        <a class="social-link" href="https://www.linkedin.com/in/daltunay/" target="_blank">
            <img src="{{ url_for('static', filename='img/linkedin_logo.png') }}" alt="LinkedIn">
        </a>
    </div>

    <!-- JavaScript -->
    <script src="{{ url_for('static', filename='js/process_data.js') }}">
        // Call the updateMetrics() function on page load
        window.addEventListener('load', function () {
            updateMetrics();
        });
    </script>
</body>

</html>