<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore Processed Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <h1 class="page-title">Explore Processed Data</h1>

    <div class="content-container">

        <h2 class="section-title">Joint Series Visualization</h2>
        <div class="button-container">
            <a href="{{ url_for('data_routes.visualize_joints') }}" class="button">See plot</a>
        </div>

        <h2 class="section-title">Angle Visualizations</h2>
        <div class="button-container">
            <a href="{{ url_for('data_routes.visualize_angles') }}" class="button">See plots</a>
        </div>

        <h2 class="section-title">Fourier Visualizations</h2>
        <div class="button-container">
            <a href="{{ url_for('data_routes.visualize_fourier') }}" class="button">See plots</a>
        </div>
    </div>
    <div class="back-link-container">
        <a href="{{ url_for('index_routes.index') }}" class="back-link">Back</a>
    </div>
</body>

</html>